body{
    background: #F9F7FE;
   font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
.body-container{
    background: #FFFFFF;
    padding:30px;
    margin:30px auto;
    max-width: 700px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 

}
.icon{
    position:relative;
    top:20px;
}
.input-city{
    padding:15px 20px;
    border-radius: 5px;
    border:none;
    background: #F9F7FE;
    width: 70%;
    font-size: 16px;
}
.input-search{
    padding:15px 20px;
    border-radius: 5px;
    border:none;
    background:#885DF1;
    color:white;
    margin-left:10px;
    font-size: 16px;
}
p strong{
    color:red;
}
p{
    line-height: 29px;
}
.mid-content-1{
    display:flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.mid-content-3{
    margin-right:50px;
    font-size: 50px;
    margin-top:30px;
}
.material-symbols-outlined{
    font-size:60px ;
    position:relative;
    right:-15px;
}
.temp{
    font-size: 80px;
    font-weight:600 ;
}
.unit{
    font-size: 30px;
    position:relative;
    top:-37px;
    left:-15px;
}
main{
    border-top:2px solid #F9F7FE;
    margin-bottom: 10px;
}
footer{
    border-top:2px solid #F9F7FE;
    padding-top: 20px;
    text-align: center;
}
form{
    padding-bottom:20px;
}
.weather-forecast-container{
    margin-bottom: 20px;
    flex:1;
               }               /* Allow each forecast item to grow equally */
    

.weather-forecast-temperatures{
    display: flex;
    justify-content: center;
    
}
.weather-forecast-day{
    text-align: center;
}
.weather-forecast-icon{
    text-align: center;
    font-size: 50px;
    color: #885DF1;
}
.forecast-container{
    display: flex;
    justify-content: space-between;
    margin-right:30px;
    margin-left: 20px;
}
.weather-forecast-temp-1{
    color: red;
}
.weather-forecast-temp-2{
    color:rgb(238, 125, 125);
}
#forecast {
    display: flex;              
    justify-content: space-between; 
    flex-wrap: wrap;           /* Allow items to wrap onto the next line if needed */
    margin: 20px 0;          
}